/app/config/parameters.yml
/bin/*.bat
/bin/doctrine*
/bin/jp.php
/bin/security*
/bin/symfony_requirements
/bin/phpspec*
/bin/pscss
/forum/
/public_html/
/task/
/var/
/vendor/
/web/_media/
/web/bundles/
/web/uploads/
/web/sitemap.xml
/wiki/
*.quarantine
*.tmb
*.php~
!*.gitkeep
!*.gitignore
